@mixin header-width {
    max-width: 85%;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width:1200px) {
        max-width: 1150px;
    }
}

@mixin content-width {
    max-width: 85%;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width:1200px) {
        max-width: 1120px;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: capitalize;
    transition: var(--animation);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &-pink {
        background-color: var(--pink);
        color: var(--white);
        padding: 15px 28px;

        &:hover,
        &:focus {
            opacity: 0.5;
            -webkit-box-shadow: 0px 0px 5px 72px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 5px 72px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
        }
    }

    &-bigPink {
        background-color: var(--pink);
        color: var(--white);
        padding: 14px 44px;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        font-size: 0.78rem;

        &:hover,
        &:focus {
            opacity: 0.5;
            -webkit-box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.2);
        }
    }

    &-white {
        background-color: var(--white);
        color: var(--very-dark-cyan);
        padding: 13px 42px;
        position: relative;

        &:hover,
        &:focus {
            opacity: 0.6;
            -webkit-box-shadow: 0px 0px 5px 72px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 5px 72px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
        }
    }

    @media screen and (min-width:768px) {
        &-bigPink {
            background-color: var(--pink);
            color: var(--white);
            padding: 22px 74px;
            font-size: 0.9rem;
        }
    }
}

@mixin grid-2-header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "itemOne"
        "itemTwo";
    gap: 25px;

    @media screen and(min-width:768px) {
        grid-template-columns: 43% 57%;
        grid-template-areas:
            "itemOne itemTwo";
        align-items: center;
    }
}

@mixin flex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 45px;

    @media screen and(min-width:768px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }
}

@mixin flex-inverse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;

    @media screen and(min-width:768px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }
}

@mixin article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    &--secondheading {
        font-size: 1.3rem;
        font-weight: 600;
    }

    &--paragraph {
        font-size: 0.85rem;
        line-height: 1.4rem;
    }

    @media screen and (min-width:768px) {
        text-align: left;
    }

    @media screen and (min-width:992px) {
        &--secondheading {
            font-size: 1.8rem;
        }

        &--paragraph {
            font-size: 1.05rem;
            line-height: 1.65rem;
        }
    }

    @media screen and (min-width:1200px) {
        max-width: 470px;
    }
}

@mixin picture {
    @media screen and (min-width:1200px) {
        max-width: 400px;
    }
}

@mixin card {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    padding: 60px 30px;
    overflow: hidden;
    border-radius: 5px;
    transition: var(--animation);

    &:hover,
    &:focus {
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width:992px) {
        padding: 60px;
    }
}

@mixin sections {
    @include card;

    &__picture {
        @include picture;
    }

    &__article {
        @include article;
    }

    &__img {
        display: block;
        width: 100%;
    }
}

@mixin grid-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "itemOne"
        "itemTwo"
        "itemThree"
        "itemFour";
    gap: 15px;

    @media screen and (min-width:768px) {
        grid-template-columns: 1fr 15% 15% 1fr;
        grid-template-areas:
            "itemOne itemTwo itemThree itemFour";
        gap: 25px;
    }
}